.clock{
    background: #16191e;
    height: 240px;
    width: 240px;
    box-sizing: content-box;
    border-radius: 50%;
    border: 10px solid #484c53;
    box-shadow: 15px 15px 35px rgba(0, 0, 0, 0, 2),
    inset 0 0 30px rgba(0, 0, 0, 0, 4);
}
img{
    position: relative;
}
.hand{
    position: absolute;
    background-color: #285bdc;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 5px;
    transform-origin: bottom;
}
.hour{
    background-color: #ec2e2e;
    height: 60px;
    width: 10px;
    margin-top: 60px;
    margin-right: 125px;
}
.minute{
    background-color: #ec2e2e;
    height: 80px;
    width: 5px;
    margin-top: 42px;
    margin-right: 130px;
}
.seconds{
    height: 90px;
    width: 3px;
    margin-top: 32px;
    margin-right: 128px;
    background-color: #2987e4;
}
