.datetime{
    position: relative;
    color: #fff;
    background: #10101E;
    font-family: "Segoe UI", sans-serif;
    width: 300px;
    height: 70px;
    margin-top: 20px;
    margin-left: 8px;
    padding: 15px 10px;
    border: 3px solid #2E94E3;
    border-radius: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
    transition-property: background, box-shadow;
}

.datetime:hover {
    background: #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
}

.date{
    font-size: 18px;
    font-weight:600;
    text-align: center;
    letter-spacing: 3px;
}
